# Logging Configuration
LOG_LEVEL=INFO

# Raft Configuration
RAFT_HEARTBEAT_INTERVAL=1.0
RAFT_ELECTION_TIMEOUT_MIN=5.0
RAFT_ELECTION_TIMEOUT_MAX=10.0
RAFT_REQUEST_TIMEOUT=2.0


# Persistence Configuration
DATA_DIR=logs
STATE_MACHINE_FILE=state_machine.json
PERSISTENCE_ENABLED=true
